.App {
  font-family: GabrielWeissFriendsFont;
  text-align: center;
  background-color: white;
}

h1 {
  font-family: GabrielWeissFriendsFont;
  text-align: center;
  font-size: 40px;
  color: rgb(191, 18, 18);
}

h3 {
  color: royalblue;
}
.friendsList {
  background: yellow;
  border: 1px solid #000000;
  opacity: 0.7;
  margin: 30px 10px;
  padding: 5px;
  max-width: 95%;
  
  max-height: 165px;
  border-radius: 5px;
  box-shadow: 5px 5px 8px #263230;
  transition: all 0.5s;
  color: #848aa5;
}
.friendsList:hover {
  transform: translateY(-1rem) scale(1.03);
  box-shadow: 6px 6px 20px #35605A;
}
.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-family: GabrielWeissFriendsFont;
}

:any-link {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

:any-link:hover {
  color: rgb(191, 18, 18);
}

img {
  align-self: center;
}
